<div class="header-info">
  <div style="height: 10px;"></div>
  <span class="header-info-name">{{ site.title }}</span>
  <img src="/assets/images/icon.png" alt="Icon" style="float: right; width: 40pt; height: 40pt; margin-left: 10px; margin-right: 10px;">
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    {% for item in site.data.menus %}
    <li class="header-main-nav-item">
      <a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">
        {% if item.default %}
          {{site.data.lang[site.language][item.default]}}
        {% else %}
          {{ item.title }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
