@charset "utf-8";

.categories-list {
  margin: 0;
  padding: 0;
}

.categories-list-title {
  list-style: none;
  font-family: monospace;
  font-size: 1.1em;
  font-weight: bold; 
}

.categories-list-item {
  margin-bottom: 0;
}

.posts-list-item {
  display: block;
  position: relative;
  line-height: 24px;
  margin: 5px 0;
  overflow: hidden;
  font-family: monospace;
  font-style: italic;
  font-size: 1.1em;
  margin: 0 10px 0 5px;
}

.posts-list-item-name {
  width: calc(100% - 100px);
  font-weight: 300;
  font-family: monospace;
  font-style: italic;
  font-size: 1em;
  margin: 0 10px 0 5px;
}

.list-pagination {
  margin: 20px 0 10px 0;
  text-align: center;
}
